<!DOCTYPE html>
<html>

<head>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
  <script src="searchtweets.js"></script>
  <link href="bootstrap.css" rel="stylesheet" />
  <link href="bootstrap-theme.css" rel="stylesheet" />


  <style>
    .logTextArea {
      width: 600px;
      height: 500px;
      border: 3px solid #cccccc;
      padding: 5px;
      font-family: Tahoma, sans-serif;
    }

    .body {
      margin: 20px;
    }
    .googlemap {
      width: 600px;
      height: 500px;
      border: 3px solid #cccccc;
      padding: 5px;
      font-family: Tahoma, sans-serif;
    }    
  </style>

   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDloBRCA2ZJNE2mAZ9CV6JJBkWs9sAsHw8">
    </script>

    <script type="text/javascript">
      
      var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
      var map;
      function initialize() {
        var mapOptions = {
          center: myLatlng,
          zoom: 2
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            title:"Hello World!"
        });

        // To add the marker to the map, call setMap();
        marker.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>

</head>

<body class="body" ng-app="mainModule">

  <div ng-controller="mainController">
    <h3>Search for Tweets in MarkLogic database</h3>
    <label>Search Term(s):
      <input type="text" ng-model="getJSONParam1" ng-init="getJSONParam1 = 'term value'" />
    </label>
    <button ng-click="getCallJSON()">Search</button>
    <br/>
    <br/>
    <br/>
    
    <textarea class="logTextArea">{{getCallJSONResult}}</textarea>
    
    <div id="map-canvas" class="googlemap"></div>

  </div>
</body>

</html>
