<!DOCTYPE html>
<html>
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
  <script src="searchtweets.js"></script>
  

  <style>
    .logTextArea
    {
      width: 400px;
      height: 250px;
    }
  </style>
</head>

<body ng-app="mainModule">
  <div ng-controller="mainController">
    <h3>3. GET call with JSON response</h3>
    <label>Parameter 1: <input type="text" ng-model="getJSONParam1" ng-init="getJSONParam1 = 'term value'" /></label><br />
    <button ng-click="getCallJSON()">GET call</button><br />
    <textarea class="logTextArea">{{getCallJSONResult}}</textarea>
  </div>
</body>
</html>